/*
font-family: 'Merriweather', serif;
font-family: 'Proza Libre', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    height: 100%;
    color: var(--font-color);
  }
  
  :root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
  
    --border-radius: 12px;
  
    --font-color: #323232;
  }

  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  h1 {
    font-family: "Proza Libre", sans-serif;
    margin: 0;
    margin-bottom: var(--spacing-2);
  }

  nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
  }
  
  .navigation-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
  }

  .navigation-item {
    margin: var(--spacing-1);
  }

  .break {
    width: 100%;
    height: 0;
  }

  #ecological{
    color: grey;
  }

#ecological-definition{
    display: none;
    top: 40rem;
    color: grey;
  }


 a:link {
    text-decoration: none;
    color: #323232;
  }

 

  #logo {
    margin: 0;
  }

  .splash{
    padding: 25% 0 0 0;
    background-image: url("/.images/creek.jpeg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;

}
  /*.banner {
    position: relative;
    left: 50%;
    right: 50%;
    top: 0;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
  }*/

  .portrait {
    width: 280px;
    border-radius: 50%/*var (--border-radius)*/;
    flex-shrink: 0;

  }
  
  .presently-container {
    display: flex;
  }
  
  .presently-container {
    margin-right: var(--spacing-3);
  }